
*{
  font-family: sans-serif;
}

@font-face {
  font-family: "norse";
  src:
    url("fonts/norse-bold-webfont.woff") format("woff"),
    url("fonts/norse-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body{
  display: flex;
  padding: 0;
  margin: 0;
  background-color: rgb(245, 245, 245);
}

input{
  border-radius: 4px;
  border: 1px solid rgb(207, 207, 207);
  height: 25px;
}

input::placeholder{
  color: rgb(170, 170, 170);
}

input:not(:focus):not(:placeholder-shown):valid{
  border: 1px solid rgb(207, 207, 207);
}

input:not(:focus):not(:placeholder-shown):invalid{
  border: 1.5px solid rgb(168, 2, 2);
}

input:focus{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: 0;
}

label, input{
  display: block;
  width: 250px;
}

label{
  color: rgb(65, 65, 65);
  font-weight: 300;
}

h2{
  max-width: 50%;
}

h1{
  font:
  8.5vh "norse",
  monospace;
  color: #ffffff;
}

p, a{
  font-weight: 500;
}

a{
  text-decoration: none;
  color:darkolivegreen;
  transition: ease-in 500ms;
}

a:hover{
  color:black;
  transition: ease-in 500ms;
}

form > div{
  background-color: #ffffff;
  padding: 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form button{
  padding: 15px 50px;
  border-radius: 10px;
  border: none;
  background-color: darkolivegreen;
  color: white;
  font-weight: 600;
  font-size: 1em;
  margin: 50px 0 10px 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightContent > h2,
.rightContent > div,
.rightContent form > div,
.rightContent > p{
  padding-left: 5%;
}

.sidebar{
  background-image:url(./images/halie-west-25xggax4bSA-unsplash.jpg
  );
  background-size:cover;
  width: 40%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidebar > div{
  min-height: 100px;
  background-color:rgba(0, 0, 0, 0.5);
  flex-direction: column;
  margin-top: 45%;
  width: 100%;
}

.sidebar div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar > div > div > h1{
  color: #ffffff;
  margin: 0 20% 0 0;
  padding: 0;
}

.sidebar img{
  height: 12.5vh;
  width: auto;
  margin: 10px 0 10px 20%;
}

.formItems{
  display: flex;
  flex-direction: column;
}

.formItems > div{
  display: flex;
  justify-content: flex-start;
  gap: 15%;
  padding: 15px 0;
}

.rightContent > :nth-child(2){
  padding-bottom:75px;
}

#passwordMessage{
  padding-top: 10px
}
